*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #ecf0f3;
}
.calculator{
    position: absolute;
    
    align-items: center;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%,-50%);
  
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.18);
    background: #ecf0f3;
    border-radius: 10px
}
button {
    height: 50px;
    width: 100px;
    font-size: 1.5rem!important;
   
    background-color: #ecf0f3; 
    box-shadow: -5px -5px 12px rgba(0,0,0,0.18),
                     5px 5px 12px rgba(0,0,0,.16);
     border: none;
     border-radius: 60px;
     margin: 8px;
     font-size: 18px;

  }
button:hover{
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.18);

}
 

  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;

  }

 

  .calculator-result{
    

        height: 120px;
        width: 500px;
        background-color:#ecf0f3;
        box-shadow: inset -5px -5px 12px #ffffff,
                    inset  5px 5px 12px rgba(0,0,0,.16);
        
        border-radius: 20px;
        color: #ecf0f3;
        font-size: 50px;
        text-align: end;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 30px;
        padding: 10px;


      
  }

  .equal-sign {
    height: 98%;
    grid-area: 2 / 4 / 6 / 5;
  }